# macOS
.DS_Store

# Flutter/Dart
Old Flutter App/prostart/build/
Old Flutter App/prostart/.dart_tool/
Old Flutter App/prostart/.flutter-plugins
Old Flutter App/prostart/.flutter-plugins-dependencies
Old Flutter App/prostart/ios/Pods/
Old Flutter App/prostart/ios/.symlinks/
**/.DS_Store

# Python
__pycache__/
*.pyc
