# macOS
.DS_Store

# Flutter/Dart
Flutter App/prostart/build/
Flutter App/prostart/.dart_tool/
Flutter App/prostart/.flutter-plugins
Flutter App/prostart/.flutter-plugins-dependencies
Flutter App/prostart/ios/Pods/
Flutter App/prostart/ios/.symlinks/
**/.DS_Store

# Python
__pycache__/
*.pyc
